@charset "UTF-8";

@font-face {
    font-family: "icon_font";
    src:url("fonts/icon_font.eot");
    src:url("fonts/icon_font.eot?#iefix") format("embedded-opentype"),
        url("fonts/icon_font.woff") format("woff"),
        url("fonts/icon_font.ttf") format("truetype"),
        url("fonts/icon_font.svg#icon_font") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "icon_font" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icon_font" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toggle-off:before {
    content: "\61";
    font-size: xx-large;
}
.icon-toggle-on:before {
    content: "\62";
    font-size: xx-large;
}


.blue {
    color: #2baad4;
}

.dark {
    color: #2e3532;
}

.yellow {
    color: #fbf2c0;
}

.red {
    color: #ef5d60;
}

.lightgrey {
    color: #e6ebe0;
}

.grey {
    color: #84828f;
}



table {
    width: 100%;
    min-width: 900px;
}

tr.title td {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    color: #2e3532;
    background: #fbf2c0;
    padding: 5px;
}

tr.option td {
    text-align: left;
    font-size: medium;
    color: #2e3532;
    padding: 5px;
}

tr.option .help_text{
    text-align: left;
    font-size: smaller;
    color: #84828f;
    padding: 2px;
    margin-left: 10px;
}

tr.option input {
    font-size: medium;
    padding: 5px;
}
tr.option input:focus {
    border: 1px solid #2baad4;
}

#save_button {
    background: #2baad4;
    color: white;
    border: 1px solid #2baad4;
    padding: 10px 20px 10px 20px;
    font-size: large;
    border-radius: 5px;
}
