body {
    overflow: hidden;
}

label {
    display: block;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

section {
    border-bottom: 1px solid dimgray;
}

button {
    margin: 40px 0 5px 0;
    float: right;
}

.indicator {
    opacity: 0;
    background: #2baad4;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.animate-save {
    animation-duration: 0.2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        opacity: 1;
        margin-left: 100%;
        width: 300%;
    }

    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
    }
}

#message_add_container {
    display: block;
}

#messages_container ul {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

#messages_container ul li {
    /*background: #2baad4;*/
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 2px 5px 2px 5px;
    border: 2px solid #2baad4;
}
#messages_container ul li::after {
    content: "  |x";
    color: grey;
}
#messages_container ul li:hover {
    cursor: pointer;
}
