.pr-reaction img {
    position: relative;
    top: 3px;
    padding-right: 3px;
}

.pr-reaction {
    color: #767676;
    padding-right: 5px;
}

.pr-reaction:hover {
    text-decoration: none;
    cursor: default;
}

.pr-reaction-word-wrap {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
}